* {
    box-sizing: border-box;
}

:root {
    --primary-color: #e2eddf;
    --bg-color: #143c3c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    /* font-family: 'Public Sans', sans-serif; */
}

/* Common */

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    width: 173px;
    height: 57px;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: #143c3c;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.dash {
    transform: translateY(-20%);
}

/* Header */

.header {
    padding: 28px 0 21px;
}

.header__top {
    display: flex;
    align-items: center;
}

/* .header__fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
} */

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 5px 19px;
    color: #575d5e;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 #171100;
}

.navbar__link--active {
    position: relative;
    color: #152427;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.navbar__link--active::after {
    position: absolute;
    left: 22px;
    bottom: -27px;
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background: #143c3c;
}

.header-action__signup {
    margin-left: 69px;
    color: #fff;
    text-align: center;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

/* Hero */

.hero {
    display: flex;
    justify-content: space-between;
}

.hero__content {
    margin-top: 103px;
}

.hero__heading {
    font-family: Public Sans;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
    width: 368px;
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 42px;
    gap: 36px;
}

.hero__row .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
}

.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

.play-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.play-button__icon {
    margin-left: -22px;
}

.hero__cta-text {
    margin-left: -21px;
    min-width: 118px;
    display: block;
    color: #152427;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.hero__media {
    margin-right: 25px;
    margin-top: 60px;
    max-width: 646px;
}

.hero__images {
    position: relative;
    display: flex;
    gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
}

.hero__img:nth-of-type(2) {
    transform: translateY(20%);
}

.hero__curve {
    position: absolute;
    right: 273px;
    top: -32px;
}

.hero__flower {
    position: absolute;
    left: -210px;
    top: -15px;
}

.hero__curve-2 {
    position: absolute;
    bottom: -164px;
    right: 71px;
    transform: rotate(-5deg);
}

.hero__flower-2 {
    position: absolute;
    bottom: -105px;
    right: 30px;
}

/* Clients */
.client {
    padding-top: 207px;
    padding-bottom: 53px;
}

.client__images {
    display: flex;
    padding: 77px 121px;
    background-color: #e2eddf;
    border-radius: 100.5px;
}

.client__img:nth-of-type(2) {
    margin-left: 47px;
}
.client__img:nth-of-type(3) {
    margin-left: 50px;
}
.client__img:nth-of-type(4) {
    margin-left: 11px;
}
.client__img:nth-of-type(5) {
    margin-left: 64px;
}
.client__img:nth-of-type(6) {
    margin-left: 64px;
}

/* Service */
.service {
    padding-top: 53px;
    padding-bottom: 79px;
}

.our-service {
    display: flex;
    gap: 21px;
}

.service__sub-title {
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.service__title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__title {
    position: relative;
    margin-top: 12px;
    color: #152427;
    width: 520px;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.service__title::after {
    position: absolute;
    bottom: 19px;
    left: 351px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background-color: #152427;
}

.service_btn {
    display: flex;
    gap: 17px;
}

.circle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #e2eddf;
    color: #152427;
    transition: 0.3s;
}

.right-arrow {
    transform: rotate(180deg);
}

.circle-btn:hover {
    background: #143c3c;
}

.circle-btn:hover .arrow {
    color: white;
}

/* Service media */
.service__media {
    margin-top: 85px;
    display: flex;
    gap: 16px;
}

.service__card {
    min-height: 477px;
}

.service__card:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    transition: 0.7s;
}

.service__card:hover .service__text {
    padding: 0px 18px 24px;
}

.service__img {
    width: 370px;
    height: 318px;
    object-fit: cover;
}

.service__heading {
    color: #152427;
    margin-top: 24px;
    font-size: 2.2rem;
    font-weight: 600;
}

.service__desc {
    max-width: 268px;
    margin-top: 18px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* About */
.about {
    padding-top: 79px;
    padding-bottom: 100px;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__left span {
    display: block;
}

.about__left {
    position: relative;
    width: 591px;
    transform: translateY(13px);
}

.about__curve {
    position: absolute;
    top: 0;
    left: 13px;
}

.about__flower {
    position: absolute;
    top: -33px;
    left: -20px;
}

.about__img:first-of-type {
    transform: translateY(20%);
}

.about__img {
    width: 286px;
    height: 480px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__stat {
    position: absolute;
    bottom: -69px;
    right: -9px;
    padding: 19px 23px;
    width: 143px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.stat__title {
    color: #152427;
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;
}

.stat__desc {
    margin-top: 6px;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
}

.stat__text {
    position: relative;
    margin-top: 10px;
    color: #152427;
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.stat__text.number::before {
    position: absolute;
    bottom: -3px;
    display: inline-block;
    content: "";
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.stat__text.number::after {
    position: absolute;
    bottom: -3px;
    left: 0px;
    display: inline-block;
    content: "";
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.stat__loading {
    margin-top: 8px;
    text-align: right;
}

.stat__team {
    margin-top: 5px;
}

.avatar-row {
    display: flex;
    align-items: center;
    gap: 30px;
}

.avatar-block {
    display: flex;
}

.avatar:first-child {
    margin-left: 0;
}

.avatar {
    margin-left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #fff;
    transform: translateY(20%);
}

.about__right {
    max-width: 483px;
}

.about__right__about-us {
    display: flex;
    align-items: center;
    gap: 21px;
}

.about__sub-title {
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.12; /* 112.5% */
}

.about__title {
    margin-top: 20px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.about__desc {
    margin-top: 11px;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.about__right__row {
    display: flex;
    gap: 24px;
    margin-top: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about__right__number {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.about__right__text {
    max-width: 364px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* Process */

.process {
    padding-top: 103px;
    padding-bottom: 74px;
}

.our-process {
    display: flex;
    gap: 9px;
    align-items: center;
}

.process__sub-title {
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.12; /* 112.5% */
}

.process__title {
    position: relative;
    margin-top: 20px;
    max-width: 477px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.process__title::after {
    position: absolute;
    bottom: 18px;
    right: -9px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background-color: #152427;
}

.process__card {
    display: flex;
    align-items: center;
    padding: 55px 30px 25px;
    border-bottom: 0.5px solid gray;
}

.process__card:hover {
    border-radius: 33px;
    background: #e2eddf;
    border: none;
}

.card__learn-more {
    display: block;
    min-width: 200px;
    margin-left: 47px;
    margin-top: 22px;
    text-decoration: underline;
    color: #575d5e;
    font-size: 1.8rem;
    line-height: 1; /* 100% */
}

.card__number {
    color: #143c3c;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72; /* 72.222% */
}

.card__heading {
    min-width: 200px;
    margin-left: 47px;
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.card__desc {
    /* padding: 55px 0 25px; */
    max-width: 572px;
    margin-left: 175px;
    color: #7d8188;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.card--1 {
    margin-top: 81px;
    position: relative;
}

.process__thumb {
    position: absolute;
    bottom: 0;
    right: 92px;
}

/* Browse */
.browse {
    margin-top: 74px;
    margin-bottom: 70px;
    padding: 116px 130px;
    background: var(--bg-color);
}

.browse__row {
    display: flex;
    align-items: center;
    gap: 93px;
}

.browse__heading {
    max-width: 457px;
    position: relative;
    color: #e7f9f9;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.browse__heading::after {
    position: absolute;
    bottom: 20px;
    right: 97px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: #83a17d;
}

.browse__desc {
    max-width: 590px;
    color: #6a8383;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.cta__browse-row {
    margin-top: 13px;
    display: flex;
    align-items: center;
    gap: 26px;
}

.cta--browse {
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.cta--browse__icon {
    color: #83a17d;
    rotate: 180deg;
}

.browse__img {
    width: 1140px;
    height: 544px;
    object-fit: cover;
    margin-top: 65px;
}

/* Feature */
.feature {
    padding-top: 70px;
    padding-bottom: 92px;
}

.feature__heading {
    margin: 0 auto;
    max-width: 520px;
    color: #152427;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.feature__desc {
    margin: 20px auto 0;
    max-width: 547px;
    color: #7d8188;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.feature__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 103px;
    column-gap: 45px;
}

.feature-item {
    padding: 60px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
}

.feature-item:hover {
    transform: translateY(-60px);
    transition: 0.25s;
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.feature-item__heading {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    text-align: center;
}

.feature-item__desc {
    max-width: 286px;
    margin-top: 9px;
    color: #7d8188;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* Article */
.article {
    padding-top: 92px;
    padding-bottom: 51px;
}

.article__sub-title {
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.12; /* 112.5% */
}

.article__sub-title::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black, #152427);
    margin-right: 21px;
    transform: translateY(-5px);
}

.article__heading-row {
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article__title {
    max-width: 602px;
    color: var(--Primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.article__title::after {
    display: inline-block;
    content: "";
    background: var(--Primary-color-black, #152427);
    width: 82px;
    height: 3px;
    transform: translateY(-6px);
}

.article__desc {
    max-width: 409px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.article__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.article-item {
    width: 360px;
    max-height: 509px;
}

.article-item__img {
    width: 360px;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

.article-item__content {
    padding: 20px 0 12px;
}

.article-item:hover .article-item__content {
    padding: 20px 30px 12px;
    transition: 0.25s;
    border-radius: 0px 0px 20px 20px;
    background: #fff;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.article-item:hover .article-item__label {
    border-radius: 20px;
    background: var(--Primary-color-black-green, #143c3c);
    color: #fff;
}

.article-item__label {
    display: inline-block;
    width: 107px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #e2eddf;
    text-align: center;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px; /* 120% */
}

.article-item__heading {
    height: 90px;
    margin-top: 20px;
    color: var(--Primary-color-black-green, #143c3c);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.article-item__date {
    padding-top: 16px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    border-top: 1px solid #c4c4c4;
    text-align: right;
}

/* Footer */
.footer {
    margin-top: 51px;
    padding: 72px 130px;
    background: var(--bg-color);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 261px;
}

.footer__heading {
    color: var(--text-color-white, #fff);
    font-size: 3.2rem;
    font-weight: 500;
}

.footer-form {
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin-top: 25px;
    border-bottom: 1px solid #6a8383;
    width: 354px;
    height: 59px;
}

.footer-form__input {
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
}

.footer-form__input::placeholder {
    color: #6a8383;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.footer-form__submit {
    display: inline-block;
    rotate: 180deg;
    cursor: pointer;
    border: none;
    background: none;
}

.footer__social {
    margin-top: 47px;
    display: flex;
    gap: 22px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
    transition: 0.5s;
}

.footer__social-link:hover {
    border: none;
    background: #a75325;
}

.footer__right {
    display: flex;
    gap: 50px;
}

.footer__title {
    color: #fff;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.footer__link {
    display: block;
    color: #6a8383;
    font-family: "Public Sans";
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25; /* 225% */
}
